@font-face {
    font-family: 'DINPro';
    src: url('https://res.cloudinary.com/supplychain-/raw/upload/v1660848020/supply%20chain/fonts/DINPro_sibrlw.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('https://res.cloudinary.com/supplychain-/raw/upload/v1660848450/supply%20chain/fonts/DINPro-Medium_vtnloq.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('https://res.cloudinary.com/supplychain-/raw/upload/v1660848450/supply%20chain/fonts/DINPro-Bold_qk9npx.ttf');
    font-display: swap;
}

:root { 
/* Tamanhos de Fonte */
    --title: 24px;
    --sub_title: 24px;
    --body_max: 20px;
    --body: 18px;
    --detail: 16px; 
    --med: 14px;
    --detail-min: 12px; 

    /* Cores */
    --purple: #951A8D;
    --lilac: #883073;
    --white: #FFFFFF; 
    --black: #000000;
    --black_light: rgba(0,0,0,0.8);
    --black_opacity: rgba(0,0,0,0.5);
    --green: #41DE00;
    --dark_grey: #666665;
    --grey_opacity: rgba(102, 102, 101, 0.7);
    --greenYellow: #CBEA00;

    /* containers */
    --container-size: 1200px;

    /* Espaçamentos */

    --item-space-max: 120px;
    --item-space-size-plus: 90px;
    --item-space-size: 80px;
    --item-space-large: 70px; 
    --item-space-great: 60px;
    --item-space-medium: 50px;
    --item-space-plus: 40px; 
    --item-space-med: 30px;
    --item-space-simple: 20px;
    --item-space-small: 15px; 
    --item-space-min: 10px;


    /* border-radius */
    --border_max: 100%;

    /* Transições */
    --slow: all 0.5s;

    /* Line-height */
    --line_height: 1.25em;

    /* Font-family */
    --din_regular: 'DINPro', sans-serif;
    --din_medium: 'DINPro-Medium', sans-serif;
    --din_bold: 'DINPro-Bold', sans-serif;
    --bold: 700;
    --medium: 500;                                           
    --regular: 400;
}

body * {
	font-family: var(--din_regular);
	font-weight: var(--regular);
	box-sizing: border-box;
	line-height: var(--line_height);
	-webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


@media screen and (max-width: 300px) {
    :root {
        --sub_title: 18px;
        --body_max: 16px;
        --body: 14px;
        --detail: 12px; 
        --med: 10px;
        --detail-min: 10px; 
    }
}