
h2 {
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--sub_title);
}

h3 {
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--body_max);
    color: var(--black);
}

p {
    font-family: var(--din_regular);
    font-size: var(--body);
}

strong {
    font-family: var(--din_bold);
    font-weight: var(--din_bold);
}

.textCenter {
    text-align: center;
}

.containerNav {
    position: fixed;
    background-color: var(--purple);
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    transition: var(--slow);
}

body.menuvisible .containerNav {
    top: 0px;
}

body.scrolled .containerNav {
    top: -150px;;
}

.nav-menu {
    background-color: var(--purple);
    width: calc(100% - 40px);
    max-width: var(--container-size);
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    font-family: var(--din_medium);
    font-size: var(--body);
    color: var(--white);
    font-weight: var(--medium);
    margin: var(--item-space-simple) 0px var(--item-space-min);
    cursor: pointer;
    transition: var(--slow);
    text-decoration: none;
    display: block;
}

.logo:hover {
    color: var(--white) !important;
}

.logo::before {
    content: '';
    display: block;
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846798/supply%20chain/images/logotipo-pulse_v8ejhp.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70px;
    width: 177px;
}

.mobile_logo {
    display: none;
}

.nav-menu {
    overflow: hidden;
}

.nav-menu li {
    float: left;
    margin: 0px var(--item-space-med) 0px 0px;
}
 
.nav-menu li:last-child {
    margin: 0px;
}

.nav-menu li a {
    display: block;
    font-family: var(--din_regular);
    font-size: var(--body);
    font-weight: var(--regular);
    color:  var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: var(--slow);
}

.nav-menu li a.anchor.active {
    color: var(--grey);
}

.nav-menu li a:hover {
    color: var(--grey) !important;
}

.nav-menu .primaryButton {
    text-transform: uppercase;
    font-size: var(--detail);
    padding: var(--item-space-simple);
    left: auto;
    transform: none;

}

main {
    padding-bottom: var(--item-space-size);
}

.primaryButton {
    display: inline-block;
    text-decoration: none;
    font-family: var(--din_bold);
    font-weight: var(--bold);
    color: var(--black);
    background-color: var(--green);
    transition: var(--slow);
    padding: var(--item-space-simple) var(--item-space-large);
    font-size: var(--body);
    line-height: 1em;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.primaryButton:hover {
    background-color: var(--black);
    color: var(--white) !important;
}

.containerHidden {
    overflow: hidden; 
    padding: 0px;
}

.presentationContent {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846800/supply%20chain/images/setas-down_zvmmyj.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 60px calc(100% + 43px);
    padding: 70px 0px;
    width: calc(100% - 40px);
    height: calc(100vh + 70px);
    max-width: var(--container-size);
    margin: auto;
    position: relative;
}

.presentationContent::before {
    content: '';
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_pjic3o.svg');
    background-repeat: no-repeat;
    background-position: 10px -490px;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: -408px;
    width: 100%;
    height: 100vh;
    max-width: 1083px;
    z-index: -1;
}


.presentationContent::after {
    content: '';
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_pjic3o.svg');
    background-repeat: no-repeat;
    background-position: 234px -220px;
    background-size: 100%;
    position: absolute;
    top: 0px;
    right: -408px;
    width: 100%;
    height: 100vh;
    max-width: 1083px;
    z-index: -1;
}

.presentationContent .graphics {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_pjic3o.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -800px;
    left: -800px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.wrapperInformation {
    position: relative;
    top: calc(50% + 21px);
    transform: translateY(-50%);
    height: auto;
}

.wrapperInformation::before {
    content: '';
    display: inline-block;
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846801/supply%20chain/images/suply-chain_kz33js.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 265px;
    width: calc(50% - 90px);
}

.wrapperInformation::after {
    content: '';
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846807/supply%20chain/images/ilustracao-suply_xk4qti.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    height: 323px;
    width: calc(50% - 90px);
    top: 0px;
    right: 0px;
}

.wrapperInformation p {
    font-family: var(--din_regular);
    font-weight: var(--regular);
    text-align: center;
    font-size: var(--sub_title);
    color: var(--black_light);
    margin: var(--item-space-great) auto 0px;
    max-width: 793px;
}

.wrapperInformation .primaryButton {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: var(--item-space-large);
}

.anchorMore {
    display: block;
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--detail-min);
    text-transform: uppercase;
    color: var(--dark_grey);
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: var(--slow);
    width: 100px;
    margin: auto;
}

.anchorMore:hover {
    color: var(--purple) !important;
}

.anchorMore::before {
    content: '';
    display: block;
    margin: var(--item-space-med) 0px var(--item-space-min);
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846799/supply%20chain/images/mouse_icon_yrmv17.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 100%;
}

.anchorMore::after {
    content: '';
    height: 9px;
    width: 2px;
    background-color: var(--green);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: move 3s infinite;
}
 
@keyframes move {
    0%   {top: 8px;}
    50%  {top: 21px;}
    100% {top: 8px;}
}

#primaryAnchor,
#setores {
overflow: hidden;
}

#setores {
padding-bottom: var(--item-space-great);
}

#primaryAnchor {
padding: 0px !important;
}

#oportunidades-e-regulamento {
margin-top: 0px;
}

.containerCards {
    overflow: hidden;
    width: calc(100% - 40px);
    max-width: var(--container-size);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--item-space-simple);
    margin: auto;
}

.cardBlock {
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: left;
}

.cardBlock:last-child {
    margin: 0px;
}

.cardBlock .maskImage {
    width: 100%;
    height: 140px;
    background-color: var(--black_opacity);
}

.cardBlock .maskImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.cardBlock .cardInformation {
    padding: var(--item-space-med) var(--item-space-simple);
    background-color: var(--greenYellow);
    height: calc( 100% - 140px);
}

.cardBlock .cardInformation h2 {
    color: var(--purple);
    text-transform: inherit;
}


.cardBlock .cardInformation p {
    color: var(--black_light);
    margin-top: var(--item-space-simple);
}

.primaryContent {
    margin-top: var(--item-space-great);
    width: 100%;
    position: relative;
}

.primaryContent .graphics_green {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_green_w5rzeq.svg');
    background-repeat: no-repeat;
    background-size: 1148px;
    background-position: center 120px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 80px;
    left: 0px;
    z-index: -1;
}

.purpleContainer {
    padding: var(--item-space-great) 0px;
    background-color: var(--lilac);
    overflow: hidden;
    margin-top: var(--item-space-large);
    position: relative;
    z-index: 1;
}

.purpleContainer .graphics_arrow_right {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846799/supply%20chain/images/setas_direita_b6sun4.svg');
    background-repeat: no-repeat;
    background-size: 138px;
    background-position: calc(100% - 300px) 140px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.primaryContent .purpleContainer  {
    margin: 0px;
}

.purpleContainer h2 {
    color: var(--white);
    text-transform: uppercase;
    max-width: 580px;
    margin: auto;
}

.primaryCarousel {
    display: block;
    width: calc(100% - 240px);
    max-width: var(--container-size);
    margin: var(--item-space-great) auto 0px;
    position: relative;
    z-index: 1;
}

.owl-stage-outer {
    position: relative;
    z-index: 2;
    cursor: grab;
}

.owl-stage {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.owl-item {
    float: left;
}

.primaryCarousel .cardBlock .maskImage img {
    height: 80px;
    object-fit: contain;
    position: relative;
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.owl-dots {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: var(--item-space-med);
}

.owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    background-color: var(--dark_grey);
    border: none;
    margin-right: var(--item-space-small);
    cursor: pointer;
    transition: var(--slow);
    border-radius: 0px;
}

.owl-dots .owl-dot:last-child {
    margin: 0px;
}

.owl-dots .owl-dot.active {
    width: 32px;
    height: 12px;
    background-color: var(--greenYellow);
}

.owl-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.owl-nav button {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    padding: 0px;
    top: 0px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.owl-nav button.owl-prev {
    left: calc(-100% - 20px);
}

.owl-nav button.owl-next {
    right: calc(-100% - 20px);
}


.owl-nav button {
    opacity: 1;
    border: none;
    background-color: transparent;
    width: 100%;
    transition: var(--slow);
    height: 100%;
}

.owl-nav button.disabled {
    opacity: 0;
}

.owl-nav button.owl-prev {
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav button::before {
    content: '';
    background-color: var(--grey_opacity);
    background-repeat: no-repeat;
    background-size: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
}

.owl-nav button.owl-prev::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846803/supply%20chain/images/arrow_left_icon_white_oganv2.svg');
    background-position: 20px center;
    right: 0px;
}

.owl-nav button.owl-next {
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav button.owl-next::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846804/supply%20chain/images/arrow_right_icon_white.svg_mbs8qb.svg');
    background-position: center;
    left: 0px;
}

.owl-nav button span {
    display: none;
}

.primaryContent .primaryButton {
    margin-top: var(--item-space-large);
}

.containerBlockInformation {
    overflow: hidden;
    max-width: var(--container-size);
    margin: var(--item-space-great) auto 0px;
}

.blockInformation {
    float: left;
    width: 216px;
    font-size: var(--body);
    text-align: center;
    font-family: var(--din_regular);
    font-weight: var(--regular);
    color: var(--white);
    margin-right: var(--item-space-med);
}

.blockInformation:last-child {
    margin: 0px;
}

.iconInformation {
    display: block;
    background-color: var(--white);
    border-radius: var(--border_max);
    width: 46px;
    height: 46px;
    position: relative;
    margin: 0px auto var(--item-space-simple);
}

.iconInformation::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.iconInformation.user_icon::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846802/supply%20chain/images/user_jc4pca.svg');
}

.iconInformation.flag_icon::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846805/supply%20chain/images/flag_pglkss.svg');
}

.iconInformation.globe_icon::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846805/supply%20chain/images/globe_fji3lk.svg');
}

.iconInformation.users_icon::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846802/supply%20chain/images/users_ohkjhn.svg');
}

.iconInformation.zap_icon::before {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846803/supply%20chain/images/zap_cf7rh6.svg');
}




.secundaryContent {
    padding: var(--item-space-size) 0px 0px;
    position: relative;
}

.secundaryContent.graphics::before {
    content: '';
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_green_w5rzeq.svg');
    background-repeat: no-repeat;
    background-size: 612px;
    background-position: -120px -260px;
    width: 100%;
    height: 620px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.secundaryContent.graphics::after {
    content: '';
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846806/supply%20chain/images/grafismo_grey_ida2ik.svg');
    background-repeat: no-repeat;
    background-size: 612px;
    background-position: 107% -123px;
    width: 100%;
    height: 620px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.secundaryContent .lineVertical_green {
    position: absolute;
    left: 0px;
    top: 166px;
    width: 460px;
    height: 1px;
    background-color: var(--green);
}

.secundaryContent h2 {
    color: var(--purple);
    margin-top: var(--item-space-simple);
    text-transform: uppercase;
    text-align: center;
}

.secundaryContent p {
    margin-top: var(--item-space-simple);
}

.secundaryContent .primaryButton {
    margin-top: var(--item-space-plus);
}

.regulationWrapper {
    max-width: 374px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: var(--item-space-medium) 0px;
}

.regulationWrapper::before {
    content: '';
    display: block;
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846805/supply%20chain/images/doc_icon_purple_gbnaxo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 53px;
    width: 100%;
}

.regulationWrapper h2 {
    color: var(--purple);
    margin-top: var(--item-space-simple);
    text-transform: uppercase;
    text-align: center;
}

.secundaryButton {
    display: block;
    text-transform: uppercase;
    padding: var(--item-space-simple) 0px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
    margin-top: var(--item-space-med);
    text-align: center;
    text-decoration: none;
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--body_max);
    transition: var(--slow);
    cursor: pointer;
}

.secundaryButton:hover {
    background-color: var(--lilac);
    color: var(--white) !important;
}

.schedule {
    max-width: 760px;
    margin: var(--item-space-great) auto 0px;
    
}

.schedule li {
    position: relative;
    margin: 0px 0px var(--item-space-simple);
    padding: var(--item-space-simple);
    background-color: var(--greenYellow);
}

.schedule li:last-child {
    margin: 0px;
}

.schedule li::before {
    content: '';
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 33px;
    background-color: var(--greenYellow);
}

.schedule li::after {
    content: '';
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% + 20px);
    width: 5px;
    background-color: var(--greenYellow);
}

.schedule li:first-child::after {
    top: calc(100% + 10px);
}
.schedule li:last-child::after {
    top: -10px;
}

.schedule .date {
    display: block;
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--body);
    color: var(--purple);
}

.schedule li h3 {
    margin-top: calc( var(--item-space-simple) - 7px);
}

.schedule li p { 
    margin-top: calc( var(--item-space-simple) - 7px);
}

footer {
    background-color: var(--lilac);
    padding: var(--item-space-size-plus) 0px;
    overflow: hidden;
}

footer .containerWrapper {
    width: calc(100% - 40px);
    max-width: var(--container-size);
    margin: auto;
}

footer .logo {
    color: var(--green);
    float: left;
    margin: 0px;
}

footer .logo:hover {
    color: var(--green) !important;
}

footer .logo::before {
    margin-bottom: var(--item-space-simple);
}

.socialInformations {
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--body_max);
    color: var(--white);
    float: right;
}

.emailtext {
    font-family: var(--din_bold);
    font-weight: var(--bold);
    font-size: var(--body_max);
    color: var(--white);
    text-decoration: none;
    transition: var(--slow);
}

.emailtext:hover {
    color: var(--dark_grey) !important;
}

.socialLinks {
    overflow: hidden;
    margin-top: var(--item-space-med);
}

.socialLinks a {
    float: right;
    margin-right: var(--item-space-med);
    height: 26px;
    width: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: var(--slow);
    cursor: pointer;
}

.socialLinks a:first-child {
    margin: 0px;
}

.socialLinks a.social-instagram {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846807/supply%20chain/images/intagram_icon_white_hwako1.svg');
}

.socialLinks a.social-instagram:hover {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846807/supply%20chain/images/intagram_icon_white_hwako1.svg');
}

.socialLinks a.social-youtube {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846802/supply%20chain/images/youtube_icon_white_cmfg7y.svg');
    width: 36px;
}

.socialLinks a.social-youtube:hover {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846802/supply%20chain/images/youtube_icon_white_cmfg7y.svg');
}

.socialLinks a.social-linkedin {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846798/supply%20chain/images/linkedin_icon_white_giwl4d.svg');
}

.socialLinks a.social-linkedin:hover {
    background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846798/supply%20chain/images/linkedin_icon_white_giwl4d.svg');
}


@media screen and (max-height: 800px) {
.wrapperInformation p {
margin-top: var(--item-space-plus);
}

.wrapperInformation .primaryButton {
margin-top: var(--item-space-plus);
}
}

@media screen and (max-height: 720px) {
.wrapperInformation::before {
height: 230px;
}
}


    
    






@media screen and (max-width: 1051px) {
header {
width: 100%;
position: absolute;
top: 0px;
left: 0px;
overflow: hidden;
height: 100vh;
}

body.mobileMenu_open {
overflow: hidden;
}

.nav-menu {
width: 100vw;
height: 100vh;
padding: var(--item-space-simple);
left: auto;
right: -100vw;
display: block;
transition: var(--slow);
position: absolute;
transform: none;
}

body.mobileMenu_open .nav-menu,
.containerNav {
right: 0px;
top: 0px !important;
}

.mobile-menu {
position: fixed;
top: 20px;
right: 20px;
background-color: var(--purple);
padding: var(--item-space-simple);
z-index: 15;
transition: var(--slow);
}

body.mobileMenu_open .mobile-menu {
top: 20px !important;
}
.menuvisible .mobile-menu {
top: 20px;
}
.scrolled .mobile-menu {
top: -100px;
}

.mobile-menu span {
display: block;
width: 30px;
height: 4px;
background-color: var(--white);
transition: var(--slow);
margin-top: 9px;
border-radius: 10px;
}

.mobile-menu span:first-child {
margin: 0px;
}


body.mobileMenu_open .mobile-menu span:nth-child(1) {
transform: rotate(-45deg) translate(-8px, 8px);
}

body.mobileMenu_open .mobile-menu span:nth-child(2) {
opacity: 0;
}

body.mobileMenu_open .mobile-menu span:nth-child(3) {
transform: rotate(45deg) translate(-10px, -10px);
}

.logo {
    display: none;
}

.logo.mobile_logo {
display: block;
position: absolute;
top: var(--item-space-simple);
left: var(--item-space-simple);
margin-top: 0px;
color: var(--purple);
transition: var(--slow);
}

.logo.mobile_logo::before {
background-image: url('https://res.cloudinary.com/supplychain-/image/upload/v1660846799/supply%20chain/images/logotipo-pulse-secundary_siki7w.svg');
}


body.mobileMenu_open .logo {
left: -100vw;
}

.nav-menu ul {
margin-top: 70px;
}

.nav-menu li {
float: none;
display: block;
margin-bottom: var(--item-space-med);
}

.nav-menu .primaryButton {
width: 100%;
margin-top: var(--item-space-med);
text-align: center;
}

.presentationContent {
padding: 0px var(--item-space-simple) 0px;
width: 100%;
height: calc(100vh + 55px);
background-position: var(--item-space-simple) calc(100% + 63px);
}

.presentationContent::before {
background-position: -273px -290px;
top: 0px;
left: 0px;
width: 726px;
height: 736px;
}

.presentationContent::after {
background-position: 130px 430px;
bottom: -40px;
top: auto;
right: 0px;
width: 726px;
height: 736px;
}

.wrapperInformation {
top: calc(50% - 25px);
margin-top: var(--item-space-simple);
}

.wrapperInformation::before {
width: 100%;
height: auto;
padding-top: 55%;
}

.wrapperInformation::after {
display: block;
position: absolute;
background-image: none;
width: 122px;
height: 1px;
background-color: var(--green);
z-index: -1;
top: auto;
bottom: -10px;
right: -20px;
}

.wrapperInformation p {
margin-top: var(--item-space-med);
font-size: var(--body);
}

.primaryButton {
font-size: var(--body_max);
width: 100%;
text-align: center;
padding: var(--item-space-simple) var(--item-space-med);
}

.wrapperInformation .primaryButton {
margin-top: var(--item-space-med);
}

.anchorMore::before {
margin-top: var(--item-space-plus);
}

.owl-carousel.off {
display: block;
}

.containerCards {
display: block;
}

.containerCards.mobileCarousel {
width: calc(100% - 120px);
margin: auto;
overflow: visible;
position: relative;
padding-bottom: 0px;
}

.primaryCarousel {
width: calc(100% - 80px);
max-width: 100%;
}

.owl-stage-outer {
width: 100% !important;
}

.primaryCarousel .owl-dots {
margin-top: var(--item-space-simple);
width: 100vw;
text-align: center;
}

.primaryContent .primaryButton {
width: calc(100% - 40px);
}

.purpleContainer {
padding: var(--item-space-plus) var(--item-space-simple);
margin-top: var(--item-space-plus);
width: 100%;
}

.purpleContainer .graphics_arrow_right {
background-position: calc(100% - var(--item-space-simple)) 165px;
}

.containerBlockInformation {
overflow: visible;
margin-top: var(--item-space-size-plus);
}

.blockInformation {
position: relative;
padding-left: 66px;
width: 100%;
margin: 0px 0px var(--item-space-med);
text-align: left;
}

.iconInformation {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 0px;
margin: 0px var(--item-space-simple) 0px 0px;
}

.primaryContent {
margin-top: var(--item-space-plus);
padding: 0px;
}

.primaryContent .graphics_green {
background-position: -169px -120px;
width: 1148px;
top: auto;
bottom: -40px;
left: 0px;
}

.secundaryContent {
padding-top: var(--item-space-plus);
}

.secundaryContent.graphics::after {
background-size: 612px;
background-position: 270px -213px;
width: 612px;
top: 0px;
right: 0px;
}

.regulationWrapper {
margin: 0px;
padding: 0px var(--item-space-simple);
}

.regulationWrapper::before {
height: 36px;
}

.secundaryContent .lineVertical_green {
width: 86px;
top: var(--item-space-plus);
}

.schedule {
width: calc(100% - 30px);
margin: var(--item-space-plus) 0px 20px auto;
}

.schedule li h3 {
margin-top: var(--item-space-small);
}

.schedule li p {
margin-top: var(--item-space-small);
}

.secundaryContent.graphics {
padding: var(--item-space-plus) var(--item-space-simple) 0px;
}

.secundaryContent.graphics h2 {
margin: 0px;
}

main {
padding-bottom: var(--item-space-plus);
}

footer {
padding: var(--item-space-plus)  var(--item-space-simple) var(--item-space-size);
}

footer .containerWrapper {
width: 100%;
}

footer .logo {
display: block;
width: 100%;
max-width: 227px;
margin: auto;
float: none;
text-align: center;
}

footer .logo::before {
margin-bottom: var(--item-space-simple);
height: auto;
padding-top: 40%;
margin: 0px 0px var(--item-space-simple);
width: 100%;
}

.socialInformations {
overflow: hidden;
float: none;
margin: var(--item-space-plus) auto 0px;
text-align: center;
}

.socialLinks {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}











}





@media screen and (max-width: 360px) {
.primaryButton {
font-size: var(--body);
}
}

@media screen and (max-width: 318px) {
.primaryButton {
font-size: var(--med);
}

.wrapperInformation {
margin-top: var(--item-space-min);
}
.wrapperInformation::before {
padding-top: 42%;
}

.wrapperInformation p {
margin-top: var(--item-space-small);
font-size: var(--detail);
}

.wrapperInformation .primaryButton {
margin-top: var(--item-space-small);
}

.anchorMore::before {
margin-top: var(--item-space-simple);
}





}



@media screen and (max-width: 300px) {
:root {
--sub_title: 18px;
--body_max: 16px;
--body: 14px;
--detail: 12px; 
--med: 10px;
--detail-min: 10px; 
}

.mobile-menu {
padding: var(--item-space-min);
}

.mobile-menu span {
width: 25px;
margin-top: 6px;
}

body.mobileMenu_open .mobile-menu span:nth-child(1) {
transform: rotate(-45deg) translate(-7px, 7px);
}

body.mobileMenu_open .mobile-menu span:nth-child(3) {
transform: rotate(45deg) translate(-7px, -7px);
}

.logo::before {
background-size: contain;
width: 100vw;
height: 45px;
}

.nav-menu li {
width: 100%;
}

.containerCards.mobileCarousel {
width: calc(100% - 60px);
}

.owl-nav button::before {
width: 25px;
height: 30px;
background-size: 6px;
}

.owl-nav button.owl-prev::before {
background-position: center;
}

.primaryCarousel {
width: calc(100% - 20px);
}

.containerBlockInformation {
margin-top: var(--item-space-med);
}

.blockInformation {
padding: 0px;
text-align: center;
margin-bottom: var(--item-space-simple);
}

.iconInformation {
position: relative;
display: block;
top: auto;
transform: none;
left: auto;
margin: 0px auto var(--item-space-small);
}

.schedule {
width: calc(100% - 20px);
}

.schedule li {
padding: var(--item-space-small);
}

.schedule li::before,
.schedule li::after {
left: -22px;
}

.schedule li::after { 
height: calc(100% + 25px);
}

.schedule li:last-child::after {
top: -11px;
}






}